.fix {
  width: 15rem;
  border-radius: 30px;
  margin: 3px;
  border: 1px solid peru;
  /* height: 20rem; */
}

img {
  border-radius: 30px 30px 30px 30px !important;
}

.card_font {
  font-size: 13px;
  width: auto;
}
