html{
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}
.menu{
  background-color: rgb(82, 149, 216);
  margin: 0;
 
  
}
.style-font{
  color: white;
  text-decoration: none;
  font-size: 10rem;
}


img.historia{
  width: 80% !important;
}

.historia{
  font-size: 1rem;
}

.fix{
  width: 15rem;
  /* height: 20rem; */
}

.titulos{
  line-height: 0px;
}

.registro_form{
  height: auto;
}

.hero{
  height: 100vh;
  width: 100vw;
  background-image: url('https://image.freepik.com/vector-gratis/fondo-blanco-semitono_115579-724.jpg') ;
  background-size: 100% 100% ;
  background-position: center center;
  background-repeat: no-repeat;
}

.titulo_abs{
  position: absolute;
  z-index: 100;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo_rel{
  position: relative;
  z-index: 100;
}

.titulo_nosotros{
  font-size: 50px;
  line-height: 150px;
  text-align: center;
  padding-top: 30px;
}

.fuente_nosotros{
  font-size: 30px;
}

.display_cards{
  display: flex;
  flex-direction: row;
}

.pos_formulario{
  padding-top: 110px;

}

.img-perro{
  height: auto;
}
.size_form{
  height: 0px;
}

.card_font{
  font-size: 13px;
  width: auto;
}

.centrar{
  text-align: center;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
